@using Nop.Plugin.Shipping.NovaPoshta.Services
@using Nop.Core
@using Nop.Plugin.Shipping.NovaPoshta.Domain
@using Nop.Plugin.Shipping.NovaPoshta.Models.ModelFactories
@using Nop.Services.Localization
@model Nop.Core.Domain.Shipping.ShippingOption
@inject INpCustomerAddressService _npCustomerAddressService
@inject IWorkContext _workContext
@inject ILocalizationService _localizationService

@{
    NpCustomerAddressForOrder customerAddressForOrder = null;
    var customer = await _workContext.GetCurrentCustomerAsync();
    if (customer != null)
    {
        customerAddressForOrder = await _npCustomerAddressService.GetLastUsedAddressByCustomer(customer, Model.Address);
    }

    customerAddressForOrder ??= await _npCustomerAddressService.TryExtractNpCustomerAddress(Model.Address);
}

<div class="card">
    <div class="card-header">
        <span style="font-weight: bold">@T(LocalizationConst.ShippingAddressTitle)</span>
    </div>
    <div class="card-body">
        
        @{
            var customerAddressForOrderModel = new CustomerAddressForOrderModelFactory().BuildPartialViewModel(customerAddressForOrder, true);
            customerAddressForOrderModel.StreetDisabled = false;
            customerAddressForOrderModel.HouseDisabled = false;
            customerAddressForOrderModel.FlatDisabled = false;

            await Html.RenderPartialAsync("_CheckoutOrderSummaryAddressShippingPartialView.cshtml",
                customerAddressForOrderModel);
        }

    </div>
    <div class="card-footer">
        <a href="#" onclick="Checkout.back(); return false;">@T(LocalizationConst.ChangeData)</a>
    </div>
</div>