@using Nop.Plugin.Shipping.NovaPoshta.Services
@using Nop.Services.Localization

@inject INpService _npService
@inject ILocalizationService _localizationService

@model Nop.Core.Domain.Shipping.ShippingOption

@{
    var novaPoshtaWarehouse = await _npService.GetWarehouseByRef(Model.SelectedNpWarehouseRef);
}

<div style="border: 1px solid lightgrey; padding: 2px; border-radius: 3px">
    <div style="margin-bottom: 1px; font-size: 14px">
        @await Component.InvokeAsync(
            "TextInput",
            new
            {
                title = await _localizationService.GetResourceAsync(LocalizationConst.Area),
                disabled = true,
                value = novaPoshtaWarehouse.SettlementAreaDescription
            })
    </div>
    
    <div style="margin-bottom: 1px; font-size: 14px">
        @await Component.InvokeAsync(
            "TextInput",
            new
            {
                title = await _localizationService.GetResourceAsync(LocalizationConst.Region),
                disabled = true,
                value = novaPoshtaWarehouse.SettlementRegionsDescription
            })
    </div>
    
    <div style="margin-bottom: 1px; font-size: 14px">
        @await Component.InvokeAsync(
            "TextInput",
            new
            {
                title = await _localizationService.GetResourceAsync(LocalizationConst.City),
                disabled = true,
                value = novaPoshtaWarehouse.CityDescription
            })
    </div>
    
    <div style="margin-bottom: 1px; font-size: 14px">
        @await Component.InvokeAsync(
            "TextInput",
            new
            {
                title = await _localizationService.GetResourceAsync(LocalizationConst.ShippingPointNumber),
                disabled = true,
                value = novaPoshtaWarehouse.Number
            })
    </div>
    
    <div style="font-size: 14px">
        @await Component.InvokeAsync(
            "TextInput",
            new
            {
                title = await _localizationService.GetResourceAsync(LocalizationConst.ShippingPoint),
                disabled = true,
                value = novaPoshtaWarehouse.Description
            })
    </div>
    
</div>