@using Nop.Plugin.Shipping.NovaPoshta.Services
@using Nop.Services.Localization
@model Nop.Plugin.Shipping.NovaPoshta.Models.CustomerAddressForOrderModel

@inject ILocalizationService _localizationService

<div style="border: 1px solid lightgrey; padding: 2px; border-radius: 3px">
                
    <div style="margin-bottom: 1px; font-size: 14px">
        @await Component.InvokeAsync(
            "TextInput",
            new
            {
                title = await _localizationService.GetResourceAsync(LocalizationConst.ZipPostalCode),
                id = "zip_code_input",
                disabled = Model.ZipPostalCodeDisabled,
                value = Model.CustomerAddressForOrder.ZipPostalCode
            })
    </div>

    <div style="margin-bottom: 1px; font-size: 14px">
        @await Component.InvokeAsync(
            "TextInput",
            new
            {
                title = await _localizationService.GetResourceAsync(LocalizationConst.Area),
                id = "area_input",
                disabled = Model.AreaDisabled,
                value = Model.CustomerAddressForOrder.Area
            })
    </div>
    
    <div style="margin-bottom: 1px; font-size: 14px">
        @await Component.InvokeAsync(
            "TextInput",
            new
            {
                title = await _localizationService.GetResourceAsync(LocalizationConst.Region),
                id = "region_input",
                disabled = Model.RegionDisabled,
                value = Model.CustomerAddressForOrder.Region
            })
    </div>

    <div style="margin-bottom: 1px; font-size: 14px">
        @await Component.InvokeAsync(
            "TextInput",
            new
            {
                title = await _localizationService.GetResourceAsync(LocalizationConst.City),
                id = "city_input",
                disabled = Model.CityDisabled,
                value = Model.CustomerAddressForOrder.City
            })
    </div>
    
    <div style="margin-bottom: 1px; font-size: 14px">
        @await Component.InvokeAsync(
            "TextInput",
            new
            {
                title = await _localizationService.GetResourceAsync(LocalizationConst.Street),
                id = "street_input",
                disabled = Model.StreetDisabled,
                value = Model.CustomerAddressForOrder.Street
            })
    </div>
    
    <div style="margin-bottom: 1px; font-size: 14px">
        @await Component.InvokeAsync(
            "TextInput",
            new
            {
                title = await _localizationService.GetResourceAsync(LocalizationConst.House),
                id = "house_input",
                disabled = Model.HouseDisabled,
                value = Model.CustomerAddressForOrder.House
            })
    </div>
    
    <div style="margin-bottom: 1px; font-size: 14px">
        @await Component.InvokeAsync(
            "TextInput",
            new
            {
                title = await _localizationService.GetResourceAsync(LocalizationConst.Flat),
                id = "flat_input",
                disabled = Model.FlatDisabled,
                value = Model.CustomerAddressForOrder.Flat
            })
    </div>
    
    <div style="margin-bottom: 1px; font-size: 14px">
        @await Component.InvokeAsync(
            "TextInput",
            new
            {
                title = await _localizationService.GetResourceAsync(LocalizationConst.FirstName),
                id = "first_name_input",
                disabled = Model.FirstNameDisabled,
                value = Model.CustomerAddressForOrder.FirstName
            })
    </div>
    
    <div style="margin-bottom: 1px; font-size: 14px">
        @await Component.InvokeAsync(
            "TextInput",
            new
            {
                title = await _localizationService.GetResourceAsync(LocalizationConst.LastName),
                id = "last_name_input",
                disabled = Model.LastNameDisabled,
                value = Model.CustomerAddressForOrder.LastName
            })
    </div>
    
    <div style="font-size: 14px">
        @await Component.InvokeAsync(
            "TextInput",
            new
            {
                title = await _localizationService.GetResourceAsync(LocalizationConst.PhoneNumber),
                id = "phone_number_input",
                disabled = Model.PhoneNumberDisabled,
                value = Model.CustomerAddressForOrder.PhoneNumber
            })
    </div>
                
</div>
    