@model Nop.Web.Areas.Admin.Models.Orders.OrderModel

<div class="row">
    <div class="col-md-3" style="display: flex; justify-content: flex-end">
        <span style="font-weight: 600; margin-right: 22px;">Детали доставки</span>
    </div>
    <div>
        <h2>ShippingMethodPluginExtPartialView</h2>
        <h3>Order Id: @(Model.Id)</h3>
    </div>
</div>